/* Note styles */
.Note {
    color: #fff;
    background-color: #596a79;
    border-radius: 7px;
    list-style-type: none;
    font-size: 14px;
    width: 220px;
    text-align: left;
    margin: 10px auto;
    padding: 10px;
}

.Note:hover {
    transform: scale(1.1);
    transition: 0.5s;
}